In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

displaylimit: Value None will be treated as 0 (no limit)

In [13]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [2]:
import sqlite3

connexion = sqlite3.connect("../data/vivino.db")
cursor = connexion.cursor()

In [3]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# declarative base class
Base = declarative_base()

# an example mapping using the base
class User(Base):
    __tablename__ = 'user'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

In [4]:
engine = create_engine('sqlite:///../data/vivino.db')

In [5]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [6]:
Base.metadata.create_all(engine)

In [7]:
from sqlalchemy import inspect
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['countries', 'flavor_groups', 'grapes', 'keywords', 'keywords_wine', 'most_used_grapes_per_country', 'regions', 'toplists', 'user', 'vintage_toplists_rankings', 'vintages', 'wineries', 'wines']

In [8]:
%sql sqlite:///../data/vivino.db

In [9]:
%%sql
SELECT sqlite_version();

Running query in 'sqlite:///../data/vivino.db'

+------------------+
| sqlite_version() |
+------------------+
|      3.42.0      |
+------------------+

In [14]:
%%sql
SELECT * FROM countries;

Running query in 'sqlite:///../data/vivino.db'

+------+----------------+---------------+-------------+-------------+----------------+
| code |      name      | regions_count | users_count | wines_count | wineries_count |
+------+----------------+---------------+-------------+-------------+----------------+
|  it  |     Italie     |      563      |   4270717   |    274658   |     42399      |
|  fr  |     France     |      1306     |   5973301   |    422503   |     67553      |
|  us  |   États-Unis   |      362      |   12273684  |    204060   |     28145      |
|  es  |    Espagne     |      152      |   2264396   |    102662   |     18026      |
|  pt  |    Portugal    |       93      |   1123535   |    39847    |      5834      |
|  au  |   Australie    |      120      |   1022965   |    90954    |     13946      |
|  hu  |    Hongrie     |       29      |    102235   |    16605    |      1923      |
|  za  | Afrique du Sud |      112      |    269649   |    30857    |      4227      |
|  de  |   Allemagne    |      236      |   2549989   |    164533   |     13643      |
|  cl  |     Chili      |       41      |    326757   |    41191    |      5785      |
|  md  |    Moldavie    |       9       |    13583    |     5055    |      418       |
|  ar  |   Argentine    |       41      |    629532   |    36121    |      5339      |
|  gr  |     Grèce      |      140      |    95693    |     9581    |      1294      |
|  il  |     Israël     |       20      |    150549   |     5435    |      529       |
|  ro  |    Roumanie    |       27      |    228185   |     6841    |      686       |
|  hr  |    Croatie     |       22      |    64223    |     5880    |      980       |
|  ch  |     Suisse     |       73      |   1601799   |    33656    |      3849      |
+------+----------------+---------------+-------------+-------------+----------------+

In [15]:
%%sql
SELECT code, name, users_count
FROM countries
ORDER BY users_count ASC
;

Running query in 'sqlite:///../data/vivino.db'

+------+----------------+-------------+
| code |      name      | users_count |
+------+----------------+-------------+
|  md  |    Moldavie    |    13583    |
|  hr  |    Croatie     |    64223    |
|  gr  |     Grèce      |    95693    |
|  hu  |    Hongrie     |    102235   |
|  il  |     Israël     |    150549   |
|  ro  |    Roumanie    |    228185   |
|  za  | Afrique du Sud |    269649   |
|  cl  |     Chili      |    326757   |
|  ar  |   Argentine    |    629532   |
|  au  |   Australie    |   1022965   |
|  pt  |    Portugal    |   1123535   |
|  ch  |     Suisse     |   1601799   |
|  es  |    Espagne     |   2264396   |
|  de  |   Allemagne    |   2549989   |
|  it  |     Italie     |   4270717   |
|  fr  |     France     |   5973301   |
|  us  |   États-Unis   |   12273684  |
+------+----------------+-------------+

In [22]:
query1 = """

SELECT code, name, users_count
FROM countries
ORDER BY name ASC
;

"""
cursor.execute(query1)
countrylist = cursor.fetchall()
display(type(countrylist))

tuple

In [ ]:
import csv
with open('countrylist.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(countrylist)

In [17]:
query1 = """

SELECT code
FROM countries
;

"""
cursor.execute(query1)
cursor.fetchall()

[('ar',),
 ('au',),
 ('ch',),
 ('cl',),
 ('de',),
 ('es',),
 ('fr',),
 ('gr',),
 ('hr',),
 ('hu',),
 ('il',),
 ('it',),
 ('md',),
 ('pt',),
 ('ro',),
 ('us',),
 ('za',)]

In [ ]:
import sqlite3

# Define the SQLite database file path
db_file_path = "../data/vivino.db"

# Create a connection to the SQLite database
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()

# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Loop through each table and list primary keys and foreign keys
for table in tables:
    table_name = table[0]
    
    # List primary keys
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    primary_keys = [col[1] for col in columns if col[5] == 1]
    
    print(f"Table: {table_name}")
    print("Primary Key(s):", ', '.join(primary_keys))
    
    # List foreign keys
    cursor.execute(f"PRAGMA foreign_key_list({table_name});")
    foreign_keys = cursor.fetchall()
    
    for fk in foreign_keys:
        print(f"Foreign Key: {fk[3]} references {fk[2]}({fk[4]})")
    
    print()

# Close the database connection
conn.close()

In [1]:
import sqlite3
import csv
import os

# Define the SQLite database file path
db_file_path = "../data/vivino.db"

# Create a connection to the SQLite database
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()

# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Create a directory to store CSV files
output_dir = 'output_csv'
os.makedirs(output_dir, exist_ok=True)

# Loop through each table and export to a CSV file
for table in tables:
    table_name = table[0]
    csv_file_path = os.path.join(output_dir, f'{table_name}.csv')
    
    # Fetch all rows from the table
    cursor.execute(f'SELECT * FROM {table_name};')
    rows = cursor.fetchall()
    
    # Get the column names
    col_names = [col[0] for col in cursor.description]
    
    # Write data to CSV file
    with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
        csv_writer = csv.writer(csv_file)
        csv_writer.writerow(col_names)
        csv_writer.writerows(rows)

# Close the database connection
conn.close()

print("CSV export complete!")

CSV export complete!