In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

displaylimit: Value None will be treated as 0 (no limit)

In [13]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [2]:
import sqlite3

connexion = sqlite3.connect("../data/vivino.db")
cursor = connexion.cursor()

In [3]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# declarative base class
Base = declarative_base()

# an example mapping using the base
class User(Base):
    __tablename__ = 'user'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

In [4]:
engine = create_engine('sqlite:///../data/vivino.db')

In [5]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [6]:
Base.metadata.create_all(engine)

In [7]:
from sqlalchemy import inspect
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['countries', 'flavor_groups', 'grapes', 'keywords', 'keywords_wine', 'most_used_grapes_per_country', 'regions', 'toplists', 'user', 'vintage_toplists_rankings', 'vintages', 'wineries', 'wines']

In [8]:
%sql sqlite:///../data/vivino.db

In [9]:
%%sql
SELECT sqlite_version();

Running query in 'sqlite:///../data/vivino.db'

+------------------+
| sqlite_version() |
+------------------+
|      3.42.0      |
+------------------+

In [14]:
%%sql
SELECT * FROM countries;

Running query in 'sqlite:///../data/vivino.db'

+------+----------------+---------------+-------------+-------------+----------------+
| code |      name      | regions_count | users_count | wines_count | wineries_count |
+------+----------------+---------------+-------------+-------------+----------------+
|  it  |     Italie     |      563      |   4270717   |    274658   |     42399      |
|  fr  |     France     |      1306     |   5973301   |    422503   |     67553      |
|  us  |   États-Unis   |      362      |   12273684  |    204060   |     28145      |
|  es  |    Espagne     |      152      |   2264396   |    102662   |     18026      |
|  pt  |    Portugal    |       93      |   1123535   |    39847    |      5834      |
|  au  |   Australie    |      120      |   1022965   |    90954    |     13946      |
|  hu  |    Hongrie     |       29      |    102235   |    16605    |      1923      |
|  za  | Afrique du Sud |      112      |    269649   |    30857    |      4227      |
|  de  |   Allemagne    |      236      |   2549989   |    164533   |     13643      |
|  cl  |     Chili      |       41      |    326757   |    41191    |      5785      |
|  md  |    Moldavie    |       9       |    13583    |     5055    |      418       |
|  ar  |   Argentine    |       41      |    629532   |    36121    |      5339      |
|  gr  |     Grèce      |      140      |    95693    |     9581    |      1294      |
|  il  |     Israël     |       20      |    150549   |     5435    |      529       |
|  ro  |    Roumanie    |       27      |    228185   |     6841    |      686       |
|  hr  |    Croatie     |       22      |    64223    |     5880    |      980       |
|  ch  |     Suisse     |       73      |   1601799   |    33656    |      3849      |
+------+----------------+---------------+-------------+-------------+----------------+

In [15]:
%%sql
SELECT code, name, users_count
FROM countries
ORDER BY users_count ASC
;

Running query in 'sqlite:///../data/vivino.db'

+------+----------------+-------------+
| code |      name      | users_count |
+------+----------------+-------------+
|  md  |    Moldavie    |    13583    |
|  hr  |    Croatie     |    64223    |
|  gr  |     Grèce      |    95693    |
|  hu  |    Hongrie     |    102235   |
|  il  |     Israël     |    150549   |
|  ro  |    Roumanie    |    228185   |
|  za  | Afrique du Sud |    269649   |
|  cl  |     Chili      |    326757   |
|  ar  |   Argentine    |    629532   |
|  au  |   Australie    |   1022965   |
|  pt  |    Portugal    |   1123535   |
|  ch  |     Suisse     |   1601799   |
|  es  |    Espagne     |   2264396   |
|  de  |   Allemagne    |   2549989   |
|  it  |     Italie     |   4270717   |
|  fr  |     France     |   5973301   |
|  us  |   États-Unis   |   12273684  |
+------+----------------+-------------+