In [8]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
%load_ext sql
engine = create_engine('sqlite:///../data/vivino.db')
connection = engine.connect()
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker

# declarative base class
Base = declarative_base()
#metadata = MetaData()
#vintages = Table('vintages', metadata, autoload=True, autoload_with=engine)

# Print the column names
#print(vintages.columns.keys())



# Print full table metadata
#print(repr(metadata.tables['vintages']))
print(type(engine))

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
<class 'sqlalchemy.engine.base.Engine'>

In [ ]:
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [ ]:
class Countries(Base):# We inherit from Base
    __tablename__ = 'Countries' # Provide the name of the database table

    id = Column(Integer, primary_key=True) # Set an id field
    title = Column('title', String(32)) # Set a title field
    number_of_pages=Column('number_of_pages', Integer) #Set a number of pages field

    # This init method that will allow you to easily create a new entry later.
    def __init__(self, title: str, number_of_pages: int):
        self.title = title
        self.number_of_pages = number_of_pages

In [6]:
from sqlalchemy import inspect
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['countries', 'flavor_groups', 'grapes', 'keywords', 'keywords_wine', 'most_used_grapes_per_country', 'regions', 'toplists', 'vintage_toplists_rankings', 'vintages', 'wineries', 'wines']

In [11]:
query = session.query(countries)
for _row in query.all():
    print(_row.code, _row.name, _row.regions_count, _row.users_count, _row.wines_count, _row.wineries_count)

NameError: name 'countries' is not defined

In [2]:
%sql sqlite:///../data/vivino.db

In [5]:
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [7]:
%%sql
SELECT * FROM countries;

Running query in 'sqlite:///../data/vivino.db'

+------+----------------+---------------+-------------+-------------+----------------+
| code |      name      | regions_count | users_count | wines_count | wineries_count |
+------+----------------+---------------+-------------+-------------+----------------+
|  it  |     Italie     |      563      |   4270717   |    274658   |     42399      |
|  fr  |     France     |      1306     |   5973301   |    422503   |     67553      |
|  us  |   États-Unis   |      362      |   12273684  |    204060   |     28145      |
|  es  |    Espagne     |      152      |   2264396   |    102662   |     18026      |
|  pt  |    Portugal    |       93      |   1123535   |    39847    |      5834      |
|  au  |   Australie    |      120      |   1022965   |    90954    |     13946      |
|  hu  |    Hongrie     |       29      |    102235   |    16605    |      1923      |
|  za  | Afrique du Sud |      112      |    269649   |    30857    |      4227      |
|  de  |   Allemagne    |      236      |   2549989   |    164533   |     13643      |
|  cl  |     Chili      |       41      |    326757   |    41191    |      5785      |
+------+----------------+---------------+-------------+-------------+----------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
PRAGMA table_info('countries');

Running query in 'sqlite:///../data/vivino.db'

+-----+----------------+---------+---------+------------+----+
| cid |      name      |   type  | notnull | dflt_value | pk |
+-----+----------------+---------+---------+------------+----+
|  0  |      code      | VARCHAR |    1    |    None    | 1  |
|  1  |      name      | VARCHAR |    0    |    None    | 0  |
|  2  | regions_count  | INTEGER |    0    |    None    | 0  |
|  3  |  users_count   | INTEGER |    0    |    None    | 0  |
|  4  |  wines_count   | INTEGER |    0    |    None    | 0  |
|  5  | wineries_count | INTEGER |    0    |    None    | 0  |
+-----+----------------+---------+---------+------------+----+

In [4]:
Base.metadata.create_all(engine)

In [19]:
%%sql
SELECT wines.ratings_average, wines.name
FROM wines;

Running query in 'sqlite:///../data/vivino.db'

+-----------------+------------------------------------------+
| ratings_average |                   name                   |
+-----------------+------------------------------------------+
|       4.6       |        Vin Santo di Montepulciano        |
|       4.4       |             St. Henri Shiraz             |
|       4.4       |                  Siepi                   |
|       4.2       |              Solare Toscana              |
|       4.6       |        Tenuta Tignanello 'Solaia'        |
|       4.5       |                Tignanello                |
|       4.5       | Tenuta Guado al Tasso Bolgheri Superiore |
|       4.3       | Pian delle Vigne Brunello di Montalcino  |
|       4.4       |  Castello della Sala Cervaro della Sala  |
|       4.3       |  Castello della Sala Muffato della Sala  |
+-----------------+------------------------------------------+
Truncated to displaylimit of 10.

In [23]:
%%sql
SELECT DISTINCT vintage_toplists_rankings.top_list_id
FROM vintage_toplists_rankings;

Running query in 'sqlite:///../data/vivino.db'

+-------------+
| top_list_id |
+-------------+
|    201650   |
|    201850   |
|    201950   |
|    202050   |
|   2019264   |
|   2020264   |
|   2018264   |
|   2020292   |
|    201647   |
|   2019292   |
+-------------+
Truncated to displaylimit of 10.